NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_TUBbhdeyxi6Rlt
NEXT_PUBLIC_SUPABASE_URL=https://yjmparxanihpycnmzqgm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlqbXBhcnhhbmlocHljbm16cWdtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgyNTU3MDQsImV4cCI6MjEwMzgzMTcwNH0.0IM11AO4yz9nLESx6nBrnkYuADC9aUO0xrtN29oKqWc
NEXT_PUBLIC_BACKEND_URL=http://localhost:5000
